## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
# https://garywoodfine.com/remove-ignored-files-from-git-repository/


*
## ESPECIALLY IGNORE THESE
.textpadtmp/*
.DS_Store

## EXCEPTIONS

#reinclude CV and resume
!BostonReeceCV2022.pdf
!rboston_resume.pdf

